{% extends 'base.html' %}

{% block title %}Backoffice{% endblock %}

{% block content %}
<main>
    <p>currently we have {{number_of_users}} users in our database</p>
</main>


<h3>Exercises:</h3>
<ul>
    <li>Abstract index.html and about.html to share as much code as possible</li>
    <li>Query the CSV file inside the data/ folder to get how many users area there, and print it in the index.html file</li>
    <li>Create an route that receives an arbitrary user id and displays this user's information</li>
</ul
{% endblock %}
